<div ng-controller="AboutController" id="boostpage">

<div class="stars"></div>

	<img class="displayed" src="img/banner_white.png"> 

		<div>
			<br>
			<br>
			<!-- this right here.... -->
			<h2 ng-show="!currentUser" ui-sref-active="active">Welcome! <a href="#/login"> Please Log In</a></h2>
			
			<div style="text-align:center"> <i class="fa fa-rocket fa-3x"> </i> <i class="fa fa-rocket fa-5x"> </i> <i class="fa fa-rocket fa-3x">  </i> </div> 
			<h1 ng-show="currentUser">Hello {{ stringValue }} !</h1>

  			<p id="info"> We, the team at BOOST!, are a corps of Dartmouth undergrads who provide virtual tutoring to classrooms that need it.

			Using virtual whiteboard, webRTC and tablet technology, we digitally recreate the experience of tutoring someone side-by-side regardless of physical location.

			Currently, we target under-resourced school systems, but in the process of our work we hope to show that there is no reason why anyone in the world can’t learn from anyone else in real time.

			If any of this resonates with you, <a class="boost-page" href="http://www.boosttutors.com/apply"> please sign up to be a tutor! </a> We're only asking for an hour or two a week. Or, reach out to anyone on the <a class="boost-page" href="http://www.boosttutors.com/team" > team page </a>. We'd love to hear from you. 
			</p>
		</div>
 <div class="cloud x1"></div>
  <!-- Time for multiple clouds to dance around -->
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>
<!-- </div> -->