<div ng-controller="AboutController" id="boostpage">

<div class="stars"></div>

	<img class="displayed animated bounceInUp" src="img/banner_white.png"> 

			<!-- this right here.... -->
			
				<div style="text-align:center" class="animated bounce">

				<img style="height:100px; width:100px;" src="../../img/rocket.png"/>
			</div>
			<h1 id="about-title" ng-show="!currentUser">Welcome!</h1>
			<h2> <a href="https://www.boosttutors.com/">DEMO UNDER CONSTRUCTION</a> </h1>

			<h1 ng-show="currentUser" id="about-title">Hello {{ stringValue }} !</h1>
</div>
<!-- </div> -->