<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Brand" width="20" height="20" src="img/rocket.png">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
           <li><a href="#">Demo</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="demo-container">
      <h1 class="page-header"> <a href="http://boosttutors.com"> <h1> BOOST!Room </a><small>Captain: Demo Boosters: Demo </small></h1> 
  </div>
        <!-- Classroom Draggable Toolbar -->
      <div class="btn-toolbar navbar-left" role="toolbar" aria-label="Toolbar with button groups">
      <div id="draggable" class="ui-widget-content">
        <!-- Black Ink -->
        <button type="button" class="btn btn-default btn-sm" id="greyBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>

        <!-- Blue Ink -->
        <button type="button" class="btn btn-primary btn-sm" id="blueBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        
        <!-- Green Ink -->
        <button type="button" class="btn btn-success btn-sm" id="greenBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        
        <!-- Cyan Ink -->
        <button type="button" class="btn btn-info btn-sm" id="tealBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        
        <!-- Orange Ink -->
        <button type="button" class="btn btn-warning btn-sm" id="orangeBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>

        <!-- Red Ink -->
        <button type="button" class="btn btn-danger btn-sm" id="redBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        
        <!-- Eraser -->
        <button type="button" class="btn btn-default btn-sm" id="eraseBtn" data-toggle="tooltip" data-placement="left" title="Click to erase!"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
        
        <!-- Inc Pen Width -->
        <button type="button" class="btn btn-default btn-sm" id="incBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        
        <!-- Dec Pen Width -->
        <button type="button" class="btn btn-default btn-sm" id="decBtn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        
        <!-- Undo -->
        <button type="button" class="btn btn-default disabled" id="undo" data-toggle="tooltip" data-placement="left" title="Click to go back a step!"> <span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
        
        <!-- Redo  -->
        <button type="button" class="btn btn-default disabled" id="redo" data-toggle="tooltip" data-placement="left" title="Click to redo the last undo!"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>

        <!-- HTML5 Color Picker -->
        <input type="color" name="favcolor" id="favcolor" value="#ff0000" style="margin: 5px">
        
        <!-- Download -->
        <button type="button" class="btn btn-default"> <a id="dlBtn" data-toggle="popover" title="Downloaded!" data-content="The BOOST!Room whiteboard has been saved to your downloads!"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a></button>
      </div>
    </div>
    <!-- End Class Toolbar -->
    
  <div class="container">
    <!-- Header -->
      <div class="row">
        <div class="col-md-9">
          <canvas id="drawing"></canvas> 
        </div>
        <div class="col-md-3">
          <div class="chat-area">
            <div class="chat">
              <div class="chat-head"> Chat! </div>
              <ul id="messages" style="padding-left: 4px"></ul>
              <form action="">
                <input id="m" autocomplete="off" /><button>Send</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
  </div>
</div> 
  <script src="socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/javascripts/client.js"></script>
  <!-- <script src="jscolor.js"></script> --> 
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
  $(function() {
  $( "#draggable" ).draggable();
  });
  </script>
  
  <script> 
  var socket = io(); 
  $('form').submit(function(){
  socket.emit('chat message', $('#m').val());
  $('#m').val('');
  return false;
  });
  socket.on('chat message', function(msg){
  $('#messages').append($('<li>').text(msg));
  });

  </script>

  <script> 
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
  $(function () {
  $('[data-toggle="popover"]').popover()
  })
  </script>

  </body>

</html>
