<!DOCTYPE html>
<html>
<head>
<% include ./partials/head %>
</head>
<body>
   <nav class="navbar navbar-inverse">
   <!-- <div class="container">
    --><!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
   <div class="container-fluid">
     <div class="navbar-header">
      
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
        <a class="navbar-brand" href="#">
         <img alt="Brand" width="20" height="20" src="img/rocket.png">
       </a>
     </div>

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
       <ul class="nav navbar-nav">
         <li class="active"><a href="#">Home</a></li>
         <!-- <li><a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>/li> -->
         <li><a href="#">Link</a></li>
       </ul>
     </div><!-- /.navbar-collapse -->
   </div>
 </nav>
<div class="container">

 <div class="page-header">
   <a href="http://boosttutors.com"> <h1> BOOST!Room </a><small>Captain: Ali Boosters: Mike </small></h1>
</div>

<div class="btn-toolbar navbar-center" role="toolbar" aria-label="Toolbar with button groups">
<div class="btn-group" role="group" aria-label="First group">
  <button type="button" class="btn btn-default disabled" id="undo" data-toggle="tooltip" data-placement="left" title="Click to go back a step!"> Undo</button>
  <button type="button" class="btn btn-default disabled" id="redo" data-toggle="tooltip" data-placement="left" title="Click to redo the last undo!">Redo</button>
  <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>


</div>
<p style="float: right"> Note: HTML5 color picker only works for Chrome, firefox, opera users! Safari and Internet explorer, please use buttons for now :) </p> 
<div class="btn-group" role="group" aria-label="Second group">
   <!-- <button class="jscolor {valueElement:'valueSpan',styleElement:'styleSpan',value:'ff6699'}" id="penColor"></button> -->
   <button type="button" class="btn btn-default" id="redBtn">Red</button>

   <input type="color" name="favcolor" id="favcolor" value="#ff0000" style="margin: 5px">
</div>
<a id="dlBtn" data-toggle="popover" title="Downloaded!" data-content="The BOOST!Room whiteboard has been saved to your downloads!">Download as image</a>

</div>
<div>
<canvas id="drawing"></canvas>
</div>

<div class="chat-area">
   <div class="chat">
      <div class="chat-head"> Chat!
      </div>
<ul id="messages"></ul>
 <form action="">
   <input id="m" autocomplete="off" /><button>Send</button>
 </form>
</div>
</div>
 
</div>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/javascripts/client.js"></script>
<!-- <script src="jscolor.js"></script> --> 
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script> 
var socket = io(); 
$('form').submit(function(){
   socket.emit('chat message', $('#m').val());
   $('#m').val('');
   return false;
});
socket.on('chat message', function(msg){
   $('#messages').append($('<li>').text(msg));
});

</script>

<script> 
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
$(function () {
$('[data-toggle="popover"]').popover()
})
</script>

</body>

</html>
