<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div ng-controller="DrawingsController" ng-init="init()">

                <h3>Session: {{drawing.name}} </h3>
                <h2 ng-show="currentUser">Booster: {{stringValue}}</h2>

                <div class="container">
                    <!-- <div class="btn-toolbar" role="toolbar" aria-label="things"> -->
                    <div class="btn-group" role="group">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown"> Action <span class="caret"> </span></button>
                        <!-- TODO: buttons :) -->
                        <ul class="dropdown-menu">
                        <li><a type="button" class="btn btn-primary btn-sm" ng-click="changeLayerPosition('sendToBack')"> <span class="glyphicon glyphicon-console" aria-hidden="true"></span></a> </li>
                        <li><a type="button" class="btn btn-primary btn-sm" ng-click="changeLayerPosition('sendToBack')"> <i class="fa fa-rocket"></i></a> </li>
                        <li><a type="button" class="btn btn-primary btn-sm" ng-click="changeLayerPosition('sendToBack')"> <i class="fa fa-user"></i></a> </li>
                        </ul>
                    </div> 
                    <div class="btn-group" role="group" id="tools">
                        <h5> tools </h5> 
                        <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'default' ? 'on' : 'off'}}" ng-click="changeDrawingMode('default')"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button> 
                        <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'free' ? 'on' : 'off'}}" ng-click="changeDrawingMode('free')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> 
                        <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'fill' ? 'on' : 'off'}}" ng-click="changeDrawingMode('fill')"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></button> 
                        <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'text' ? 'on' : 'off'}}" ng-click="changeDrawingMode('text')"><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span></button> 

                        <!-- Inc Pen Width -->
                        <button type="button" class="btn btn-primary" id="incBtn" ng-click="updateStrokeWidth('1')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary" id="incBtn" ng-click="updateStrokeWidth('-1')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>

                        <!-- TODO: Background button...make interactive-->
                        <button type="button" class="btn btn-primary" ng-click="updateBackground()"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button> 
                    </div>
                    <div class="btn-group" id="shapes">
                        <h5> shapes </h5> 
                        <!-- TODO: make line into line not path -->
                        <button type="button" class="btn btn-primary" class="{{ drawingMode === 'line' ? 'on' : 'off'}}" ng-click="changeDrawingMode('line')"> <i class="fa fa-minus"></i>  </button> 
                        <button type="button" class="btn btn-primary" class="{{ drawingMode === 'circle' ? 'on' : 'off'}}" ng-click="changeDrawingMode('circle')"> <i class="fa fa-circle-o"></i>  </button>
                        <button type="button" class="btn btn-primary" class="{{ drawingMode === 'poylgon' ? 'on' : 'off'}}" ng-click="changeDrawingMode('triangle')"> <i class="fa fa-star-o"></i> </button> 
                        <button type="button" class="btn btn-primary" class="{{ drawingMode === 'rectangle' ? 'on' : 'off'}}" ng-click="changeDrawingMode('rectangle')"><i class="fa fa-square-o"></i> </button> 

                    </div>
                    <div class="btn-group">
                        <h5> layer controls </h5> 
                        <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('sendToBack')"> <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i> </button> 
                        <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('sendBackwards')"> <i class="fa fa-chevron-left"></i> </button>
                        <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('sendForwards')"> <i class="fa fa-chevron-right"></i> </button>
                        <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('bringToFront')"> <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button> 

                    </div>
                    <div class="btn-group" id="undo/redo">
                        <h5> undo/redo </h5>
                        <button type="button" class="btn btn-primary" id="clearBtn" ng-click="clearCanvas()"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'erase' ? 'on' : 'off'}}" ng-click="changeDrawingMode('erase')"><i class="fa fa-eraser"> </i> </button> 
                        <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'grid' ? 'on' : 'off'}}" ng-click="changeDrawingMode('grid')"><i class="fa fa-line-chart"></i></button> 

                    </div>

                    <div class="btn-group" id="colors"> 

                        <h5> colors </h5> 
                        <!-- TODO: make CSS classes here -->
                        <button type="button" class="btn btn-primary" id="redBtn" ng-click="updateColor('red')"> <i class="fa fa-star"></i> </button>
                        <button type="button" class="btn btn-primary" id="pinkBtn" ng-click="updateColor('#ff3399')"> <i class="fa fa-star"></i> </button>
                        <button type="button" class="btn btn-primary" id="orangeBtn" ng-click="updateColor('#ff9933')"> <i class="fa fa-star"></i> </button>
                        <button type="button" class="btn btn-primary" id="yellowBtn" ng-click="updateColor('#ffff00')"> <i class="fa fa-star"></i></button>
                        <button type="button" class="btn btn-primary" id="cyanBtn" ng-click="updateColor('#00ffff')"> <i class="fa fa-star"></i></button>
                        <button type="button" class="btn btn-primary" id="blueBtn" ng-click="updateColor('blue')"> <i class="fa fa-star"></i> </button>
                        <button type="button" class="btn btn-primary" id="purpleBtn" ng-click="updateColor('#9900cc')"> <i class="fa fa-star"></i></button>
                        <button type="button" class="btn btn-primary" id="blackBtn" ng-click="updateColor('black')"> <i class="fa fa-star"></i></button>
                        <button type="button" class="btn btn-primary" id="whiteBtn" ng-click="updateColor('white')"> <i class="fa fa-star"></i> </button>
                        
                        <div class="colorbox" id="currentColorBox" ng-style="{backgroundColor: currentColor}"></div>
                        <input type="color" ng-model="test" name="colorpicker" id="" />
                    </div> 
                    <!-- TODO: intelligently add button/pen with HTML5 colorpicker -->         
                    </div>
                </div> 
                    <!-- TODO: put chat in a footer page -->

                <canvas id="c"></canvas>

            </div>
        </div>
    </div>
</div>


<div ng-controller="ChatsController" ng-init="init()">
    <div class="col-md-3">
        <div class="chat-area">
            <div class="chat">
                <span class="chat-head"> Chat! </span>
                <ul ng-repeat="m in messages" id="messages">
                    <li>{{m}}</li>
                </ul>
                <form>
                <input type="text" class="form-control" ng-model="message" placeholder="Message Here" autocomplete="off" />
                <input type="submit" class="btn btn-success" ng-click="sendMessage()" value="send" style="float:right"/>
                </form>
            </div>
        </div>
    </div> 
</div>
