<div flex >
    <div class="row">
        <!-- here flex layout above -->
        <div class="col-md-9">
            <div ng-controller="DrawingsController" ng-init="init()">
       
                <h1>Session: {{drawing.name}} </h1>
                <h1 ng-show="currentUser">Booster: {{stringValue}}</h1>

                <div class="container">
                    <!-- <div class="btn-toolbar" role="toolbar" aria-label="things"> -->
                        <!-- Single button -->
                    <div class="btn-group" uib-dropdown is-open="true">
                        <button id="single-button" type="button" class="btn btn-lg btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Tools <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu" style="min-width: 80px; text-align:center" uib-dropdown-menu role="menu" aria-labelledby="single-button">

                            <li><button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'default' ? 'on' : 'off'}}" ng-click="changeDrawingMode('default')"><span class="glyphicon glyphicon-hand-up" title="Select" ></span> </button></li>
                            <li><button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'free' ? 'on' : 'off'}}" ng-click="changeDrawingMode('free')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></li>
                            <li><button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'fill' ? 'on' : 'off'}}" ng-click="changeDrawingMode('fill')"><i class="glyphicon glyphicon-tint" aria-hidden="true"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'text' ? 'on' : 'off'}}" ng-click="changeDrawingMode('text')"><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span></button> </li>

                            <li class="divider"></li>
                            <li><button type="button" class="btn btn-primary" id="incBtn" ng-click="updateStrokeWidth('1')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></li>
                            <li> <button type="button" class="btn btn-primary" id="incBtn" ng-click="updateStrokeWidth('-1')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></li>
                        </ul>
                    </div>
              
           
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Space <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu" style="min-width: 80px; text-align:center" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li>
                                <button type="button" class="btn btn-primary" ng-click="updateBackground()"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button> 
                            </li>
                            <li class="divider"></li>
                            <li>
                                <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('sendToBack')"> <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></button>
                            </li> 
                            <li>
                                <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('sendBackwards')"> <i class="fa fa-chevron-left"></i> </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('sendForwards')"> <i class="fa fa-chevron-right"></i> </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" ng-click="changeLayerPosition('bringToFront')"> <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button> 
                            </li>
                        </ul>
                    </div>
                     <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Shapes <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu" style="min-width: 80px; text-align:center" uib-dropdown-menu role="menu" aria-labelledby="single-button">

                            <li><button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'line' ? 'on' : 'off'}}" ng-click="changeDrawingMode('line')"><i class="fa fa-minus" title="Select" ></i> </button></li>
                            <li><button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'circle' ? 'on' : 'off'}}" ng-click="changeDrawingMode('circle')"><i class="fa fa-circle-o"></i></button></li>
                            <li><button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'triangle' ? 'on' : 'off'}}" ng-click="changeDrawingMode('triangle')"><i class="fa fa-star-o"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'rectange' ? 'on' : 'off'}}" ng-click="changeDrawingMode('rectangle')"><i class="fa fa-square-o"></i></button> </li>
                        </ul>
                    </div>

                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Edit <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu" style="min-width: 80px; text-align:center" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li> <button type="button" class="btn btn-primary" id="clearBtn" ng-click="clearCanvas()"><i class="fa fa-trash-o"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'erase' ? 'on' : 'off'}}" ng-click="changeDrawingMode('erase')"><i class="fa fa-eraser"> </i> </button> </li> 
                            <li> <button type="button" class="btn btn-primary" ng-class="{{ drawingMode === 'grid' ? 'on' : 'off'}}" ng-click="changeDrawingMode('grid')"><i class="fa fa-line-chart"></i></button> </li>
                    </ul>
                    </div>

                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        <div class="colorbox" id="currentColorBox" ng-style="{backgroundColor: currentColor}"></div> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu" style="min-width: 80px; text-align:center" uib-dropdown-menu role="menu" aria-labelledby="single-button"> 
                        <!-- TODO: make CSS classes here -->
                            <li> <button type="button" class="btn btn-primary" id="redBtn" ng-click="updateColor('red')"> <i class="fa fa-star"></i> </button> </li>
                            <li> <button type="button" class="btn btn-primary" id="pinkBtn" ng-click="updateColor('#ff3399')"> <i class="fa fa-star"></i> </button> </li>
                            <li> <button type="button" class="btn btn-primary" id="orangeBtn" ng-click="updateColor('#ff9933')"> <i class="fa fa-star"></i> </button> </li>
                            <li> <button type="button" class="btn btn-primary" id="yellowBtn" ng-click="updateColor('#ffff00')"> <i class="fa fa-star"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" id="cyanBtn" ng-click="updateColor('#00ffff')"> <i class="fa fa-star"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" id="blueBtn" ng-click="updateColor('blue')"> <i class="fa fa-star"></i> </button> </li>
                            <li> <button type="button" class="btn btn-primary" id="purpleBtn" ng-click="updateColor('#9900cc')"> <i class="fa fa-star"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" id="blackBtn" ng-click="updateColor('black')"> <i class="fa fa-star"></i></button> </li>
                            <li> <button type="button" class="btn btn-primary" id="whiteBtn" ng-click="updateColor('white')"> <i class="fa fa-star"></i> </button> </li>
                            <li class="divider"></li>
                           <!--  <li> <div class="colorbox" id="currentColorBox" ng-style="{backgroundColor: currentColor}"></div></li> -->
                            <li> <input type="color" ng-model="test" name="colorpicker" id="" /> </li> <!-- broken -->
                        </ul>

                    </div> 
                    <!-- TODO: intelligently add button/pen with HTML5 colorpicker -->         
                    </div>
                </div> 
                    <!-- TODO: put chat in a footer page -->

                <canvas id="c"></canvas>

            </div>
        </div>
    </div>
</div>


<div ng-controller="ChatsController" ng-init="init()">
    <div class="col-md-3">
        <div class="chat-area">
            <div class="chat">
                <span class="chat-head"> Chat! </span>
                <ul ng-repeat="m in messages" id="messages">
                    <li>{{m}}</li>
                </ul>
                <form>
                <input type="text" class="form-control" ng-model="message" placeholder="Message Here" autocomplete="off" />
                <input type="submit" class="btn btn-success" ng-click="sendMessage()" value="send" style="float:right"/>
                </form>
            </div>
        </div>
    </div> 
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->