<div ng-controller="WelcomeController" ng-init="init()">

<div id="boost-page-light">
     <div class="stars"></div>
    <div class="container">
        <h1 class="welcome"> BOOST!Tutors</h1>
        <div style="text-align:center" class="rocket-white"> <i class="fa fa-rocket fa-5x"> </i> </div>  

        <div style="padding-bottom: 30px;">
            <div id="info">Click an existing whiteboard session or create a new one. Thanks to socket.io, these files can be shared and interactively viewed --open two browsers with the same drawing-id to see!
        </div>

    </div>

    <div class="row"  ng-hide="!drawings">
        <div class="col-md-4"> 
            <h3> Existing BOOST!Boards </h3> 
            <ul class="list-group" ng-repeat="d in drawings">
                <li class="list-group-item"><a href="#/drawings/{{d._id}}">{{d.name}}</a></li>
            </ul>
        </div>

        <div class="col-md-8">
            <h3> Create New Board</h3>

            <form class="form-signup">
                <input type="text" class="form-control" ng-model="newDrawing.name" placeholder="Drawing Name">
                <input type="text" class="form-control" ng-model="newDrawing.description" placeholder="Drawing Description">

                <input type="button" class="btn btn-primary" ng-click="create()" value="save"/>
                <input type="button" class="btn btn-success" ng-click="newDrawing = null" value="clear"/>
            </form>
        </div>


   

    <!-- </div> -->
    </div>
<!-- <div id="clouds"> -->

<!-- </div> -->
</div>
</div>
</div>






