<div ng-controller="WelcomeController" ng-init="init()">
    <div class="container">
	<h1 class="page-header"> <h1> BOOST!Tutors</h1> 

    <div style="padding-bottom: 30px;">
        <div ng-show="currentUser_id">     </div> 
        <div id="info">Click an existing whiteboard session or create a new one. Thanks to socket.io, these files can be shared and interactively viewed --open two browsers with the same drawing-id to see!</div>
    
        </div>
    </div>
    <div class="container">
        <!-- hide !user -->
        <div class="row" ng-hide="!drawings">
<!-- 
<h2 ng-show="currentUser">Hello {{currentUser.email}}</h2> -->            
            <div class="col-md-4">
                <h3> Existing BOOST!Boards </h3> 
                <ul class="list-group" ng-repeat="d in drawings">
                    <li class="list-group-item"><a href="#/drawings/{{d._id}}">{{d.name}}</a></li>
                </ul>
             </div>
         
            <div class="col-md-8">
            <h3> Create New Board <%= user._id %></h3>
                <form>
                <input type="text" class="form-control" ng-model="newDrawing.name" placeholder="Drawing Name">
                <input type="text" class="form-control" ng-model="newDrawing.description" placeholder="Drawing Description">
                <input type="button" class="btn btn-primary" ng-click="create()" value="save" style="float:right"/>
                <input type="button" class="btn btn-success" ng-click="newDrawing = null" value="clear" style="float:right"/>
                </form>
            </div>
        </div>
    </div> 
    
</div>



  <script src="../chatMain.js"></script>