<!-- TODO: PUT THE CUSTOM CSS in a file...cannot override for right now -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">
                Sign in to BOOST!Tutors 
            </h1>
            <div style="text-align:center"> <i class="fa fa-rocket fa-5x"> </i> </div> 
            <div class="account-wall" style="background-color: #f7f7f7;">

                <form class="form-signin"
                      name="form"
                      ng-submit="login(form)"
                      novalidate style="background-color: #f7f7f7; padding:40px;"> 
<!-- for now -->
                    <div ng-class="{'has-error': form.email.$error.mongoose}">
                        <input type="text"
                               class="form-control"
                               placeholder="Username"
                               name="email"
                               ng-model="user.email"
                               required
                               autofocus
                               mongoose-error style="padding:20px 12px; font-size: 24px;">
                        <p class="help-block"
                           ng-show="form.email.$error.mongoose">
                            {{ errors.email }}
                        </p>
                    </div>

                    <div ng-class="{'has-error': form.password.$error.mongoose}">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               name="password"
                               ng-model="user.password"
                               required
                               mongoose-error style="margin-top: 20px; padding:20px 12px; font-size: 24px;">
                        <p class="help-block"
                           ng-show="form.password.$error.mongoose">
                            {{ errors.password }}
                        </p>
                    </div>

                    <div class="form-group has-error">
                        <p class="help-block">{{ error.other }}</p>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in <i class="fa fa-rocket"> </i>  </button>

                    <span class="clearfix"></span>
                </form>
            </div>
            <br> 
            <a href="#/signup" class="btn btn-success btn-block">Don't have an account? Create one! <i class="fa fa-rocket 3x"></i>  </a>
        </div>
    </div>
</div>