<div id="boostlight">
<div class="stars"></div>
    <div class="page-header text-center">
        <h1><i class="fa fa-rocket fa-4x"></i>Profile Page</h1>
        <!-- TODO: put this in user controller -->
        <button href="/logout" class="btn btn-default btn-lg">Logout</button> 
        <button href="#/draw" class="btn btn-default btn-lg"> Launch! </button>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6" style="padding:20px">
            <div class="well" >
                <h3><i class="fa fa-user 3x"></i> Local</h3>
                    <p>
                        <i class="fa fa-rocket"></i> <strong>id</strong>:{{user.email}}<br> <!-- angular injection here, change this to username, adjust model  --> 
                        <i class="fa fa-share"></i> <strong>email</strong>:  {{user.name}}  <br>
                        <i class="fa fa-lock"></i> <strong>password</strong>:  {{user.password}} 
                    </p>

            </div>
        </div>

    </div>



</div><!--sceneWrap-->
</div><!--  -->