<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><i class="fa fa-rocket fa-4x"></i>Profile Page</h1>
        <!-- TODO: put this in user controller -->
        <button href="/logout"> class="btn btn-default btn-sm">Logout</button> 
        <button><a href="#/draw"> Launch! </a></button>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><i class="fa fa-user 3x"></i> Local</h3>

                    <p>
                        <i class="fa fa-rocket"></i> <strong>id</strong>: <%= user._id %><br> <!-- angular injection here, change this to username, adjust model  --> 
                        <i class="fa fa-share"></i> <strong>email</strong>: <%= user.local.email %><br>
                        <i class="fa fa-lock"></i> <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>